@model Balance.ViewModels.AddGroupViewModel
@{
    ViewBag.Title = "Create";
}

<form action="" method="post">
    <p>
        <label>Name</label>
        <input type="text" name="name">
    </p>

    <p>
        <label>Description</label>
        <input type="text" name="description">
    </p>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>
        <input type="submit" value="Add"/>
    </p>
</form>




