@model Balance.ViewModels.GroupViewModel
@{
    ViewBag.Title = "Group";
}
<p><label>@Model.Name</label>
</p>
<p><label>@Model.Description</label>
</p>
<p><label>@Model.Sum</label>
</p>
<button onclick="window.location.href='/Payment/@Model.Id'">AddPayment</button>



