@model Balance.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Balance";
}
<button onclick="window.location.href='/AddGroup'">Add Group</button>

@for (var i = Model.Groups.Count()-1; i >= 0; i--)
{
    <p>@Html.ActionLink(Model.Groups.ElementAt(i).Value, "Group" , new { Id = i })</p>
}

