@model Balance.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Balance";
}
<p>
    @Html.ActionLink("Add Group", "AddGroup")
</p>

@foreach(var group in Model.Groups){
<p>@Html.ActionLink(group.Name, "Group", new { Id = group.Id.ToString() })</p>
}
