@model Balance.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Balance";
}


<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">
        <p>
            <label for="text1">Enter string:</label><br>
            <input type="text" name="text">
        </p>
        <p><input type="submit" value=" Reverse "></p>
    </form>
    <p>@Model.text</p>
</body>
</html>


