@model Balance.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "Payment";
}
<form action="" method="post">
    <p>
        <label>Value</label>
        <input type="number" name="value">
    </p>

    <p>
        <label>Email</label>
        <input type="text" name="email">
    </p>
    <p>
        <label>UserId</label>
        <input type="text" name="userId">
    </p>
    <p>
           <input type="submit" value="Add"/>
    </p>
</form>



