@model Balance.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "Payment";
}
<form action="" method="post">
    <p>
        <label>Value</label>
        <input type="number" name="value">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </p>
    <p>
           <input type="submit" value="Add"/>
    </p>
</form>



